@use "global" as *;

.contact-confirm {
  padding-top: rem(100);
  padding-bottom: rem(100);
  font-family: $base-font-family;
  background-image: url(../images/common/feature-common-image_pc.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include mq(md) {
    padding-top: rem(60);
    padding-bottom: rem(60);
    background-image: url(../images/common/feature-common-image_sp.webp);
  }
}

.contact-confirm__inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: rem(25);
  padding-right: rem(25);

  @include mq(md) {
    max-width: rem(550);
    padding-left: rem(20);
    padding-right: rem(20);
  }
}

.contact-confirm__title {
  font-size: rem(32);
  font-weight: $bold;
  color: $text-black2;
  text-align: center;

  @include mq(md) {
    font-size: rem(24);
  }
}

.contact-confirm__form {
  max-width: rem(400);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.contact-confirm__list {
  margin-top: rem(32);
}

.contact-confirm__item {
  margin-top: rem(16);
}

.contact-confirm__item-title {
  font-weight: $bold;
  font-size: rem(24);

  @include mq(md) {
    font-size: rem(16);
  }
}

.contact-confirm__item-value {
  margin-left: 1em;
  font-size: rem(24);
  padding-top: rem(8);
  padding-bottom: rem(8);

  @include mq(md) {
    font-size: rem(16);
  }
}

.contact-confirm__buttons {
  margin-top: rem(32);
  display: flex;
  justify-content: center;
  gap: rem(16);
}
