@use "global" as *;

.contact-cta {
  background: linear-gradient(
    to top,
    rgba(3, 168, 214, 1) 0%,
    rgba(97, 200, 229, 1) 68%,
    rgba(176, 222, 235, 1) 100%
  );
  padding: rem(40) 0;

  @include mq(md) {
    padding-top: rem(50);
    padding-bottom: rem(50);
  }
}

.contact-cta__inner {
}

.contact-cta__wrapper {
  background-color: $white;
  border-radius: rem(20);
  padding: rem(25);
  max-width: rem(1000);
  width: 100%;
  margin: 0 auto;

  @include mq(md) {
    padding-top: rem(34);
    padding-bottom: rem(45);
    max-width: rem(600);
  }
}

.contact-cta__title {
}

.contact-cta__title .section-title__en {
  color: $text-blue;
}

.contact-cta__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: rem(26);

  @include mq(md) {
    flex-direction: column;
    gap: rem(24);
  }
}

.contact-cta__tel {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: rem(30);
  font-weight: $bold;
  color: $color-accent;
  margin-top: rem(-15);
  margin-left: rem(55);
  line-height: 1;

  @include mq(md) {
    font-size: clamp(rem(29), 8vw, rem(40));
    margin-top: rem(10);
    margin-left: rem(4);
  }
}

.contact-cta__tel-link {
  display: flex;
  align-items: center;
  color: $color-accent;
  text-decoration: none;
}

.contact-cta__tel-link:hover {
  text-decoration: underline;
}

.contact-cta__tel-icon {
  width: rem(25);
  height: rem(25);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include mq(md) {
    width: rem(33);
    height: rem(33);
  }
}

.contact-cta__tel-number {
  font-size: rem(30);

  @include mq(md) {
    font-size: clamp(rem(29), 8vw, rem(40));
    font-weight: $bold;
    color: $color-accent;
  }
}

.contact-cta__hours {
  color: $text-black;
  font-size: rem(14);
  font-weight: $bold;
  margin-top: rem(2);
  margin-left: rem(-10);

  @include mq(md) {
    font-size: clamp(rem(13), 3.6vw, rem(18));
    margin-left: 0;
  }
}

.contact-cta__button {
  max-width: rem(345);
  width: 100%;
  text-align: center;

  @include mq(md) {
    width: clamp(rem(246), 68.4vw, rem(342));
  }
}
