@use "global" as *;

.contact-form {
  background-color: $form-blue;
  padding-top: rem(42);
  padding-bottom: rem(155);

  @include mq(md) {
    padding-top: rem(44);
    padding-bottom: rem(88);
  }
}

.contact-form__inner {
}

.contact-form__title {
}

.contact-form__form-area {
  padding-top: rem(57);
  padding-bottom: rem(80);

  @include mq(md) {
    padding-top: rem(52);
    padding-bottom: rem(55);
  }
}
