@use "global" as *;

.feature {
  position: relative;
  padding-top: rem(76);
  padding-bottom: rem(106);
  background-color: $background-blue;
  height: rem(1519);

  @include mq(md) {
    padding-top: rem(15);
    padding-bottom: rem(56);
    height: clamp(rem(1250), 347.2vw, rem(1736));
  }
}

.feature__background {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65%;
  height: clamp(rem(915), 286vw, rem(1430));
  background-image: url("../images/common/feature-common-image_sp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  z-index: 1;

  @include mq(md) {
    display: block;
  }
}

.feature__inner {
}

.feature__title {
}

.feature__cards {
  display: flex;
  flex-direction: column;
  margin-top: rem(56);
  margin-right: auto;
  margin-left: auto;
  width: clamp(rem(500), 73.21vw, rem(1200));
  position: relative;
  z-index: 10;

  @include mq(md) {
    margin-top: rem(170);
    max-width: rem(493);
    width: 100%;
  }
}

.feature__card {
  display: flex;
  flex-direction: column;
  position: relative;
}
