@use "global" as *;

.feature {
  padding-top: rem(58);
  padding-bottom: rem(106);
  background-color: $background-blue;
  height: rem(1519);

  @include mq(md) {
    padding-top: rem(18);
    padding-bottom: rem(56);
    height: rem(1736);
  }
}

.feature__inner {
}

.feature__title {
}

.feature__cards {
  display: flex;
  flex-direction: column;
  gap: rem(80);
  margin-top: rem(61);
  margin-right: auto;
  margin-left: auto;
  width: clamp(rem(800), 73.21vw, rem(1200));

  @include mq(md) {
    margin-top: rem(54);
    width: auto;
  }
}

.feature__card {
  display: flex;
  flex-direction: column;
  gap: rem(52);
}
