@use "global" as *;

.footer {
  background-color: $white;
  padding-top: rem(80);
  padding-bottom: rem(88);
  color: $text-black;
  font-weight: $regular;

  @include mq(md) {
    padding-top: rem(52);
    padding-bottom: rem(32);
  }
}

.footer__inner {
  max-width: $inner + strip-unit($padding-pc) * 2;
  padding-right: rem(15);
  padding-left: rem(15);
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include mq("md") {
    padding-right: clamp(rem(25), 7vw, rem(35));
    padding-left: clamp(rem(25), 7vw, rem(35));
  }
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: rem(15);

  @include mq(md) {
    flex-direction: column;
    align-items: flex-start;
    font-size: clamp(rem(15), 4.2vw, rem(21));
  }
}

.footer__logo {
}

.footer__logo img {
  width: 100%;
  max-width: rem(225);
  height: auto;

  @include mq(md) {
    max-width: clamp(rem(213), 59.2vw, rem(296));
  }
}

.footer__nav {
  display: flex;

  @include mq(md) {
    width: 100%;
    margin-top: clamp(rem(48), 13.2vw, rem(66));
  }
}

.footer__nav-list {
  display: flex;

  @include mq(md) {
    flex-wrap: wrap;
    width: 90%;
    row-gap: clamp(rem(16), 4.4vw, rem(22));
    column-gap: clamp(rem(32), 8.8vw, rem(44));
  }
}

.footer__nav-item {
  padding-left: rem(16);
  padding-right: rem(16);
  padding-top: rem(10);
  padding-bottom: rem(10);

  @include mq(md) {
    padding: 0;
    column-gap: clamp(rem(30), 8.4vw, rem(42));
    row-gap: clamp(rem(23), 6.4vw, rem(32));
  }
}

.footer__nav-link {
}

.footer__nav-link:hover {
  text-decoration: underline;
}

.footer__bottom {
  margin-top: rem(63);
  font-size: rem(13);

  @include mq(md) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(rem(6), 1.6vw, rem(8));
    font-size: clamp(rem(15), 4.2vw, rem(21));
  }
}

.footer__policy {
}

.footer__policy-link {
}

.footer__policy-link:hover {
  text-decoration: underline;
}

.footer__copyright {
  text-align: center;
  margin-top: rem(-30);

  @include mq(md) {
    margin-top: clamp(rem(27), 7.6vw, rem(38));
  }
}
