@use "global" as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: var(--header-height);
  background-color: $white;

  @include mq(md) {
    height: rem(79);
  }
}

.header__inner {
  max-width: rem(1300);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq(md) {
    justify-content: space-between;
  }
}

.header__title {
  height: rem(84);

  @include mq(md) {
    height: rem(79);
  }
}

.header__logo {
  display: block;
  width: rem(225);
  height: auto;

  @include mq(md) {
    width: rem(258);
  }
}

.header__nav {
  margin-left: auto;
}

.header__items {
  display: flex;
  margin: 0;
  padding: 0;
}

.header__item {
}

.header__link {
  display: inline-block;
  color: $text-black;
  font-size: rem(16);
  transition: opacity 0.3s;
  padding-top: rem(20);
  padding-bottom: rem(20);
  padding-right: rem(20);
  padding-left: rem(20);

  @include mq(md) {
    padding-top: rem(10);
    padding-bottom: rem(14);
    padding-left: rem(16);
  }
}

.header__item--last .header__link {
  padding-right: 0;
}

.header__link:hover {
  opacity: 0.7;
}

.header__link--logo {
  padding-top: rem(23);
  padding-bottom: rem(23);
  padding-right: rem(10.5);
  padding-left: rem(10.5);
}

.header__contact {
  display: flex;
  align-items: center;
  gap: rem(25);
  margin-left: rem(10);
}

.header__tel {
  display: flex;
  flex-direction: column;
}

.header__tel-link {
  font-size: rem(30);
  font-weight: bold;
  color: $color-accent;
  line-height: 1;
  display: flex;
  align-items: center;
}

.header__tel-icon {
  font-size: rem(16);
  width: rem(25);
}

.header__tel-time {
  font-size: rem(14);
  font-weight: bold;
  color: $text-black;
  padding-left: rem(24);
}

.header__button {
  width: rem(170);
  margin-top: rem(8);
}
