@use "global" as *;

.voice {
  position: relative;
  padding-top: rem(100);
  padding-bottom: rem(163);
  background-image: url(../images/common/background01.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include mq(md) {
    padding-top: rem(50);
    padding-bottom: rem(54);
  }
}

.voice__inner {
}

.voice__title {
}

.voice__cards {
  margin-top: rem(44);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(0);

  @include mq(md) {
    grid-template-columns: 1fr;
    gap: rem(58);
  }
}

.voice__card {
  max-width: rem(483);
  width: 100%;
  margin: 0 auto;
}
