@use "global" as *;

.button {
  position: relative;
  display: inline-block;
  font-family: $base-font-family;
  font-size: rem(24);
  font-weight: $bold;
  color: $white;
  letter-spacing: 0.1em;
  text-align: center;
  padding: rem(15) rem(15);
  border-radius: rem(60);
  background-color: $button-base;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $button-front;
  border-radius: rem(60);
  z-index: 10;
  transition: top 0.1s ease-in-out;
}

.button:active::before {
  top: 0;
}

// テキストを擬似要素の上に表示
.button span {
  position: relative;
  z-index: 20;
  display: inline-block;
}

.button--contact {
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1;
  color: $white;
  border-radius: rem(24);
  padding: rem(15) rem(21) rem(9);
}

.button--submit {
  position: relative;
  display: inline-block;
  font-family: $base-font-family;
  font-size: rem(16);
  font-weight: $regular;
  color: $white;
  text-align: center;
  padding: rem(16) rem(16);
  border-radius: rem(60);
  background-color: $button-front;
  cursor: pointer;
}
