@use "global" as *;

.button {
  position: relative;
  display: inline-block;
  font-family: $base-font-family;
  font-size: rem(24);
  font-weight: $bold;
  color: $white;
  letter-spacing: 0.1em;
  text-align: center;
  padding: rem(15) rem(15);
  border-radius: rem(60);
  background-color: $button-base;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $button-front;
  border-radius: rem(60);
  z-index: 10;
  transition: top 0.1s ease-in-out;
}

.button:active::before {
  top: 0;
}

.button__icon {
  position: relative;
  display: inline-block;
  width: rem(18); // ← 画像サイズに合わせる
  height: rem(13); // ← 画像サイズに合わせる
  vertical-align: middle;
  z-index: 100;
}

// テキストを擬似要素の上に表示
.button__text {
  position: relative;
  z-index: 90;
  display: inline-block;
}

// heroボタン
.button__hero-text {
  font-size: rem(30);
  font-weight: $bold;

  @include mq(md) {
    font-size: rem(22);
  }
}

.button__hero-text--strong {
  font-size: rem(35);
  font-weight: $bold;

  @include mq(md) {
    font-size: rem(25);
  }
}

.button--main {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: rem(2);
  width: 100%;
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1;
  color: $white;
  border-radius: rem(24);
  padding: rem(17) rem(17);
}

.button--drawer {
  width: 80%;
}

.button--submit {
  position: relative;
  display: inline-block;
  font-family: $base-font-family;
  font-size: rem(16);
  font-weight: $regular;
  color: $white;
  text-align: center;
  padding: rem(16) rem(16);
  border-radius: rem(60);
  background-color: $button-front;
  cursor: pointer;
}
