@use "global" as *;

.feature-card {
  position: relative;
  height: rem(350);

  @include mq(md) {
    height: auto;
    display: grid;
    place-items: center;
    margin-top: rem(75);
    padding-bottom: 37%;
  }
}

.feature__card:nth-of-type(2) {
  margin-top: rem(80);

  @include mq(md) {
    margin-top: rem(75);
  }
}

.feature-card:nth-child(3) {
  margin-top: rem(60);

  @include mq(md) {
    margin-top: rem(75);
  }
}

//SP版は非表示
.feature-card__background {
  position: absolute;
  top: 0;
  right: 1.7%;
  z-index: 10;
  max-width: rem(750);

  @include mq(md) {
    position: static;
    display: none;
  }
}

.feature-card--reverse .feature-card__background {
  top: 8%;
  left: 2.7%;
  right: auto;
}

.feature-card__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.feature-card__image {
  position: absolute;
  top: 13.5%;
  left: -1.5%;
  z-index: 20;
  max-width: rem(570);
  width: 100%;

  @include mq(md) {
    position: static;
    max-width: clamp(rem(356), 98.8vw, rem(494));
    grid-area: 1 / 1;
    z-index: 1;
  }
}

.feature-card--reverse .feature-card__image {
  left: auto;
  right: -1.5%;
}

.feature-card__image img {
  max-width: rem(570);
  width: 100%;
  height: auto;

  @include mq(md) {
    max-width: rem(494);
  }
}

.feature-card__body {
  position: absolute;
  top: 19%;
  right: 5.4%;
  background-color: $white;
  max-width: rem(470);
  width: 100%;
  z-index: 2;
  padding-top: rem(34);
  padding-right: rem(56);
  padding-bottom: rem(36);
  padding-left: rem(64);
  z-index: 30;

  @include mq(md) {
    position: static;
    max-width: clamp(rem(322), 89.4vw, rem(447));
    height: clamp(rem(189), 52.6vw, rem(263));
    padding: clamp(rem(19), 5.4vw, rem(27)) clamp(rem(23), 6.4vw, rem(32));
    margin-left: auto;
    margin-right: auto;
    grid-area: 1 / 1;
    margin-top: -80%;
  }
}

.feature-card--reverse .feature-card__body {
  right: auto;
  left: 5.4%;
  max-width: rem(551);
  width: 100%;
  padding: rem(45);

  @include mq(md) {
    max-width: rem(447);
    padding: clamp(rem(19), 5.4vw, rem(27)) clamp(rem(23), 6.4vw, rem(32));
  }
}

.feature-card__title,
.feature-card__index {
  font-size: rem(30);
  font-weight: bold;
  color: $form-blue;
  text-align: left;

  @include mq(md) {
    font-size: clamp(rem(23), 6.4vw, rem(32));
  }
}

.feature-card__text {
  text-align: left;
  margin-top: rem(24);
  font-size: rem(16);
  font-weight: $regular;
  color: $text-black;
  line-height: 1.875;

  @include mq(md) {
    font-size: clamp(rem(15), 4.2vw, rem(21));
    line-height: 1.88;
    margin-top: clamp(rem(14), 4vw, rem(20));
  }
}
