@use "global" as *;

.form {
  width: 100%;
  max-width: rem(920);
  margin: rem(57) auto 0;
  background-color: $white;
  padding: rem(80) rem(140);

  @include mq(md) {
    padding: rem(26) rem(9);
    margin-top: rem(52);
  }
}

.form__group {
  margin-top: rem(32);

  @include mq(md) {
    margin-top: rem(40);
  }
}

.form__group:first-of-type {
  margin-top: 0;
}

// ラベル共通設定
.form__label {
  display: inline-block;
  font-size: rem(16);
  font-weight: $regular;
  color: $text-black;
  line-height: 1.5;
  margin-left: 0.5em;

  @include mq(md) {
    font-size: rem(21);
  }
}

//「必須」ラベル
.form__required {
  display: inline-block;
  font-size: rem(10);
  font-weight: $regular;
  color: $white;
  background-color: $color-accent;
  padding: rem(3) rem(8);

  @include mq(md) {
    padding: rem(3) rem(10);
  }
}

// 通常ラベル
.form__label-text {
  margin-left: 0.5em;
}

//「必須」ラベルが伴わない通常ラベル
.form__label:not(:has(.form__required)) .form__label-text {
  margin-left: 0;
}

.form__input,
.form__textarea {
  width: 100%;
  padding: rem(9.5) rem(8);
  font-size: rem(25);
  border: 1px solid #ddd;
  background-color: $white;
  color: $text-black;
  margin-top: rem(8);
}

.form__input {
}

.form__textarea {
  resize: vertical;
  min-height: rem(120);
}

// プレースホルダー
.form__input::placeholder,
.form__textarea::placeholder {
  color: #999;
  font-size: rem(16);
  font-weight: $medium;
  letter-spacing: 0.04em;
  opacity: 0.5;

  @include mq(md) {
    font-size: rem(23);
  }
}

.form__input:focus,
.form__textarea:focus {
  outline: none;
  border-color: $form-blue;
  box-shadow: 0 0 0 2px rgba(3, 168, 214, 0.2);
}

.form__group--checkbox {
  display: flex;
  align-items: flex-start;
  margin-top: rem(24);
}

.form__checkbox-label {
  font-size: rem(13);
  color: $text-black2;
  line-height: 1.5;

  @include mq(md) {
    font-size: rem(21);
    font-weight: $medium;
  }
}

.form__link {
  color: $color-accent;
  text-decoration: underline;
}

.form__link:hover {
  text-decoration: none;
}

.form__checkbox {
  margin-right: rem(8);
  margin-top: rem(4);
}

.form__button {
  margin-top: rem(32);
  text-align: center;
}

.form__button .button {
  width: 100%;
  max-width: rem(395);
  margin: 0 auto;
}
