@use "global" as *;

.section-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.section-title__en::first-letter {
  text-transform: uppercase;
}

.section-title__jp {
  color: $text-blue;
  font-size: rem(40);
  margin-top: rem(13);
  font-weight: $bold;
  font-family: $base-font-family;
  display: block;

  @include mq(md) {
    font-size: rem(26);
  }
}

.section-title__en {
  color: $text-black2;
  font-size: rem(25);
  font-weight: $regular;
  font-family: $second-font-family;
  display: block;

  @include mq(md) {
    font-size: rem(21);
  }
}

.section-title--white {
  color: $white;
}
